<h1>
	<%= @posts.title %><br>
	<%= @posts.description %>
</h1>

<ul>
	<% @posts.comments.each do |comment| %>
	<li>
		<%= comment.body %>
		<%= link_to "[Delete]", post_comment_path(comment.post.id, comment.id),method: :delete, data:{ confirm: "本当に消してもいいですか?" } %>
	</li>
	<% end %>
	<li>
	<%= form_for [@posts, @posts.comments.build] do |f| %>
	<%= f.text_field :body %>
	<%= f.submit %>
	<% end %>
	</li>
</ul>

<p><%= link_to "Topへ", root_path %></p>